.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: white;
    padding: 1px 5vw;
    border-bottom: 1px solid #ececec;
}

.App-title {
    font-size: 1.5em;
    text-align: left;
}

.App-title a {
    color: #a5a4a4;
    text-decoration:none;
}

.App-intro {
    font-size: large;
}

.new {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.new input {
    padding: 10px;
    margin: 20px;
}

.new label {
    font-size: 14px;
}

.new button {
    border: none;
    background-color: #2f54eb;
    font-size: 16px;
    padding: 6px;
    color: white;
}

.entry-list {
    margin: 75px;
}

.entry {
    background: transparent;
    border: 1px solid #e8e8e8;
    padding: 12px 24px;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-width: 500px;
    width: 90%;
    font-size: 24px;
    color: cornflowerblue;
    display: flex;
    flex-direction: column;
}

.entry .article-title {
    cursor: pointer;
}

.entry .details {
    font-size: 12px;
    color: darkgray;
    text-align: center;
}

.entry .details a {
    text-decoration: none;
    color: #058deb;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    text-align: left;
    font-size: 14px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}