body {
    height:100%
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: white;
    padding: 1px 5vw;
    border-bottom: 1px solid #ececec;
}

.App-title {
    font-size: 1.5em;
    text-align: left;
}

.App-title a {
    color: #a5a4a4;
    text-decoration:none;
}

.App-intro {
    font-size: large;
}

.new {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.new input {
    padding: 10px;
    margin: 20px;
}

.new label {
    font-size: 14px;
}

.new button {
    border: none;
    background-color: #2f54eb;
    font-size: 16px;
    padding: 6px;
    color: white;
}

.entry-list {
    margin: 75px;
}

.entry {
    background: transparent;
    border: 1px solid #e8e8e8;
    padding: 12px 24px;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-width: 500px;
    width: 90%;
    font-size: 24px;
    color: cornflowerblue;
    display: flex;
    flex-direction: column;
}

.entry .article-title {
    cursor: pointer;
}

.entry .details {
    font-size: 12px;
    color: darkgray;
    text-align: center;
}

.entry .details a {
    text-decoration: none;
    color: #058deb;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    text-align: left;
    font-size: 14px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.footer {
    width: 100%;
    min-width: 1200px;
    height: 160px;
    background-color: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.footer .license {
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 45px;
    font-size: 14px;
}

.comment-full {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.comment-content {
    max-width: 980px;
    flex: 1;
}

.suspension-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    right: 12rem;
    bottom: 2rem;
    z-index: 1000;
}

.suspension-panel .btn {
    margin: 1rem 0 0;
    padding: 0;
    width: 3.33rem;
    height: 3.33rem;
    line-height: 1;
    color: #909090;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.05);
    cursor: pointer;
}

.suspension-panel .to-top-btn {
    font-size: 16px;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

.ion-android-arrow-dropup:before {
    content: "Top";
}